ALUNO: PEDRO NÍCOLLAS PEREIRA LEON LOPES

### 8. Regressão Linear Simples
Implemente a regressão linear simples para prever o preço de casas usando o conjunto de dados Boston Housing.

Avalie o modelo utilizando o R² e o erro médio absoluto (MAE).

In [42]:
# DATASET UTILIZADO -> BostonHousing (data/BostonHousing.csv)
'''
| DADOS |
crim    -> "Per capita crime rate by town."
zn      -> "Proportion of large residential lots (over 25,000 sq. ft.)."
indus   -> "Proportion of non-retail business acres per town."
Chas    -> "Binary variable indicating if the property is near Charles River (1 for yes, 0 for no)."
nox     -> "Concentration of nitrogen oxides in the air."
rm      -> "Average number of rooms per dwelling."
age     -> "Proportion of old owner-occupied units built before 1940."
dis     -> "Weighted distances to Boston employment centers."
rad     -> "Index of accessibility to radial highways."
tax     -> "Property tax rate per $10,000."
'''

'\n| DADOS |\ncrim    -> "Per capita crime rate by town."\nzn      -> "Proportion of large residential lots (over 25,000 sq. ft.)."\nindus   -> "Proportion of non-retail business acres per town."\nChas    -> "Binary variable indicating if the property is near Charles River (1 for yes, 0 for no)."\nnox     -> "Concentration of nitrogen oxides in the air."\nrm      -> "Average number of rooms per dwelling."\nage     -> "Proportion of old owner-occupied units built before 1940."\ndis     -> "Weighted distances to Boston employment centers."\nrad     -> "Index of accessibility to radial highways."\ntax     -> "Property tax rate per $10,000."\n'

In [43]:
# Conjunto de Importações
import numpy as np
import pandas as pd

In [44]:
dados = pd.read_csv('data/BostonHousing.csv')

In [45]:
dados.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [46]:
dados.isna().sum()                          # Vertificação de dados NAN's
dados['rm'].fillna(dados['rm'].mean(), inplace=True)            # substituição de NAN's pela média dos valores de "rm"

Separando em amostra de Treino e Teste

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X = dados.drop('medv', axis=1)          # "medv" é a coluna alvo
Y = dados['medv']                       # Coluna alvo

In [49]:
X_treino,X_teste,Y_treino,Y_teste=train_test_split(X,Y,test_size=0.30,random_state=0)           # separação de 30% para teste e 70% para treino

Aplicando Modelo de RL (Linear Regression)

In [50]:
from sklearn.linear_model import LinearRegression           # import necessário
modelo_RL = LinearRegression()                              # Usando modelo LinearRegression()

In [51]:
modelo_RL.fit(X_treino, Y_treino)           # treinamento do modelo

y_previsto = modelo_RL.predict(X_teste)     # Usando os dados para fazer a previsão

# RESULTADOS FINAIS (R² E MAE)

In [52]:
from sklearn.metrics import r2_score, mean_absolute_error

mae = mean_absolute_error(Y_teste, y_previsto)
print(f"Mean Absolute Error: {mae}")

Mean Absolute Error: 3.6085376218669807

In [53]:
r2 = r2_score(Y_teste, y_previsto)
print(f"R² score: {r2}")

R² score: 0.6734615494781868